[Unit]
Description=Sky DNS server
Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull skynetservices/skydns
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/etcdctl set /skydns/config '{"dns_addr":"${COREOS_PUBLIC_IPV4}:53", "domain":"local", "nameservers":["8.8.8.8:53"]}'
ExecStartPre=/usr/bin/docker create -it --name %p -p 53:53 -p 53:53/udp --net=host -e ETCD_MACHINES=${COREOS_PUBLIC_IPV4}:4001 skynetservices/skydns 
ExecStart=/usr/bin/docker start -a %p
ExecStop=/usr/bin/docker stop -t 60 %p
ExecStopPost=-/usr/bin/docker rm -f %p
ExecStopPost=/usr/bin/etcdctl rm /skydns/config
Restart=on-failure

[X-Fleet]
MachineID={{ dns_host.results[0].ID }}
